 <div class="bgimg-1">
          <div class="caption">
          <span class="border pra-thai">PRA THAI</span>
        </div>
      </div>



      
        <section class='hero'>
        <div class="quote-block-inner">
        <p class="hero-txt">Pra Thai is a brand new Thai restaurant in Friern Barnet, London. Offering perfectly authentic original Thai food, freshly prepared, cooked to order with tender loving care and a remarkable taste.</p>
        </div>
        </section>

      <div class="bgimg-2">
        <div class="caption caption--delicious">
          <span class="border txt-white">DELICIOUS</span>
        </div>
      </div>

      <section class='quote-block-outer'>
        <div class="quote-block-inner">
          <p class="customer">Fabrice Teyssedou</p>
          <p class="quote-txt">"Simply the best Thai food I've ever had! The green thai curry is amazing, the chicken satay delicious. The hospitality matches the quality of the food. The setting is refined. We all have enjoyed every seconds of this experience. Highly recommended!"</p>
        </div>
      </section>

      <div class="bgimg-3">
        <div class="caption">
          <span class="border txt-white">FRESH</span>
        </div>
      </div>

      <section class='quote-block-outer'>
        <div class="quote-block-inner">
          <p class="customer">Jude Michaels</p>
          <p class="quote-txt">"What an amazing restaurant - fantastic Thai food, lovely ambience and super service from the staff. I chose the Tom Yum soup and Yum Nua (Sirloin Beef Salad) and was not disappointed. The salad was exquisite. My friends were also impressed and we will highly recommend this place."</p>
        </div>
      </section>

      <div class="bgimg-4">
        <div class="caption">
          <span class="border txt-white">TAKE AWAY</span>
        </div>
      </div>


